import(codetools)

importFrom(methods,
           findClass,
           findFunction,
           getClassDef,
           getClasses,
           getGeneric,
           is,
           isClass,
           listFromMlist,
           packageSlot,
           slot)

importFrom(utils,
           find)

export(findExternalDeps, writeNamespaceImports)
