import(codetools)

importFrom(methods, findClass, findFunction, getClassDef, getClasses,
           getFunction, isClass, listFromMlist, slot)

importFrom(utils, find, packageDescription)

export(findExternalDeps, writeNamespaceImports, getRdFileNames,
       writeRUnitRunner)
